html,
body {
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(214, 194, 97);
    color: white;
    padding: 12px 32px;
    font-weight: 500;
}

table {
    background-color: aliceblue;
    border: 4cm;
}

th {
    background-color: rgb(214, 194, 97);
    color: white;
    margin: 0;
    padding: 12px 32px;
    font-weight: 500;
}